logo {
    /*font-family: 'Playfair Display', serif;*/ 
    font-size: 2.25rem;
    font-weight: bold;
    color: #ffffff; 
    text-decoration: none;
    padding: 0rem; 
   /* border-radius: 1.5rem;*/ 
    background-color: #000000; /* maybe Isabelline or Whitesmoke */
    box-shadow: 0 4px 12px rgba(27, 57, 102, 0.825);
    transition: all 0.3s ease-in-out;  /* For animation later*/ 
    display: inline-block;
  }
  
  .logo:hover {
    background-color: #69dcff; /* a little depth */
    transform: scale(1.03);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
 .navbar{
  position:sticky;
  padding-left: 2rem;
 }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
  
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navlinks {
    color: rgb(244, 244, 244);
    text-decoration: solid;
  }
  
  .navbar li a {
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #fffdfd;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .navbar li a:hover {
    color: #6a52f3;
  }
  /* Background*/
  body {
  image-resolution: 2048px ;
  background-size: cover;
  background-image: url("../Images/DarkAfricanPatternBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
}
  /*FONT FAMILIES??*/


  /* CARDDSSS */
  /*Section 1: with round borders: 
  section {
    background-color: rgb(20, 16, 72);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1.25rem; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1190px;
  }
  */

  /* Section 2*/
  section {
  background-color: rgba(29, 31, 30, 0.6); /* 0.6 is a 60% dark overlay */
  color: white;
  padding: 4rem 2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 1000px;
  backdrop-filter: blur(4px); /* dreamy blur */
}


  body {
    background-color: #c6c0c0;
    text-indent: 2rem ;
    padding-top: 5rem; /*space between nav and body*/ 
  }
  
  p {
    color: #fdfbed;  
    padding: 1px;
   
  }

  h1{
    color: #fdfbed;  
  }

  h2{
    color: #fdfbed;  
  }

  h3{
    color: #fdfbed;  
  }

  h4{
    color: #b5d1bf;
  }

   /* .site-footer {
    background-color: #92908f; /* Solid brown background */
    /* padding: 2rem; 
    color: white; /* white to stand out on the brown background */
   
    
    /* Ensures links are white as well */
  
  
  /* .site-footer a:hover {
    color: #000000; 
  }

.site-footer ul{
   list-style: none;        /* REMOVE BULLET POINTS*/
 /*  padding: 0;
  margin: 0;
} */ 