/* For website: h1{
    color: #715C40;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}*/

/* Exercise 1*/ 
 h1{

    color: #FFC0CB;
    font-size: 36px;
 }

 p {
    color:blue; 
    font-size: 18px;
 }

ul{
    color: orange;
    list-style-type: square;
}


/* Exercise 2*/ 
ul{ 
    
}


/* Exerice 3*/


Do "flexbox" tutorial before class next week. 