.container {
    border: 3px solid rgb(33, 18, 18);
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;     /*align along the main axis* so on the left or right of the top of the screen/
    align-items: ;        /* align on the across/secondary axis*/
}

.box{
    width: 5rem;
    height: 5rem;
    background: gold;
    margin: 1rem;
}