header{
    background-image: url("../Images/DarkPinkBanner.png");
    color: aliceblue;
}

.navlinks{
    color: aliceblue;
    text-decoration: solid;
}


/* adding a single image to the whole background of the page*/
body {
    background-image: url("../Images/whiteswirl.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   /*background stays fixed when users scroll, for now*/ 
}

.container {
    border: 2rem solid #fae1ed; 
    height: 1vh; /* gives the container more space and a height*/ 
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;     /*align along the main axis* so on the left or right of the top of the screen*/
    align-items: center;        /* align on the across/secondary axis*/
    flex-wrap:wrap ;    /*stops flex from shrinking the values in the list if there are too many of them, the default value is wrap, this makes the objects wrap (form a line afer each other)*/ 
    align-content: center; 
    
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: start;
    background-image: url("../Images/SageGreenArch.png");
    background-size: cover;
    justify-content:center;
    padding-top: 0rem;


  }
  
  .about-img img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .about-text {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {          /* Allows for responsiveness on big and small screens yaayyayaya */ 
    .about-grid {
      grid-template-columns: 1fr;
    }

  
    .about-img, .about-text {
      text-align: center;
    }
  }
