header{
    background-image: url("../Images/DarkPinkBanner.png");
    color: aliceblue;
    display: flex;
    justify-content: space-between;

}

@font-face {
    font-family: 'GreatVibes';
    src: url('../Fonts/Great_Vibes/GreatVibes-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  nav{
    margin:0;  
  }

h1{
    margin: 1rem 3rem;
    font-family: 'GreatVibes', cursive;
    font-size: 400em; /*this weight is font specific*/ 
    letter-spacing: 1rem;
    max-width: 600em;    /* for varying screen sizes, hopefully this is responsive*/
    word-spacing: normal;
}

body {
    background-image: url("../Images/whiteswirl.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   /*background stays fixed when users scroll, for now*/ 
}

.navlinks{
    color: aliceblue;
    text-decoration: solid;
}

.navbar ul {
    list-style: none;
    padding: 2rem 0;
    margin: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: end; 
  }
  
  .navbar li a {
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #eeeeee; 
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .navbar li a:hover {
    color: #f19cc8; 
}
  
/* adding a single image to the whole background of the page*/


.backToTopBtn:hover {
    background: linear-gradient(30deg, var(--hover-colour) , var(--scrollbar-yellow));
    color: var(--webpage-bg);
    opacity: 1;  
}

.site-footer i {
    color: #af4c92;            /*hot pink icons to match or rather contrast the site right now*/ 
    margin-right: 0.5rem;
  }
