/* adding a single image to the whole background of the page*/
body {
    background-image: url("../Images/whiteswirl.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   /*background stays fixed when users scroll, for now*/ 
}
